.page-container {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
}

.content-wrap {
	padding-bottom: 5rem;
}

img {
	height: 30em;
	width: 22em;
	border-radius: 5% 15% ;
}

.personal, .story{
	padding: 4em;
	padding-top: 1em;
	margin-left: 3em;
}
	

