.container {
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar-nav > li {
	padding-left:1em;
	padding-right:1em;
}

.navbar-brand {
	padding-right: 23em;
}

.footer {
	
	position: absolute;
	bottom: 0;
	height: 6em;
	width:99%;
}

form {
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;  

}

label {
  display: inline-block;
  width: 90px;
  
}


textarea {
  vertical-align: top;
  height: 5em;
  width: 11.5em;
}

.contact-form {
	text-align: center;
	padding-left: 33em;
	margin: 1em;
	border-left: 3em;
}




