.container {
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar-nav > li {
	padding-left:1em;
	padding-right:1em;
}

.navbar-brand {
	padding-right: 23em;
}

.page-container {
	position: relative;
	min-height: 100%;
	padding-top: 0;
}

.content-wrap {
	padding-bottom: 1rem;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 7.5em;
	width:99%;
	padding-top: 10em;
}