.container {
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar-nav > li {
	padding-left:1em;
	padding-right:1em;
}

.navbar-brand {
	padding-right: 23em;
}

.footer {
	
	position: absolute;
	bottom:0;
	height: 6em;
	width:99%;
}

