.container {
	background-size: cover;
	width: 100%;
	margin: 0;
	padding-top: 2em;
}

.navbar-nav > li {
	padding-left:1em;
	padding-right:1em;
}

.navbar-brand {
	padding-right: 35em;
	padding-left: 3em;
}


.footer {
	background-color: #e3f2fd;
	position: relative;
	bottom: 0;
	height: 6em;
	width:98.5%;
	
}

.d-flex {
	background-color: #e3f2fd;
}

.phibal {
	border-radius: 50%;
}

.github {
	margin: 3em;"
}

.linkedin {
	padding-bottom: .5em;
	margin-top: 1em;
	
}

