<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
 		<title>My Personal Website</title> 
			<link href="css/contact.css" rel="stylesheet">
			<link href="css/index.css"  rel="stylesheet">
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		
	</head>
	<body>

			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  				<a class="navbar-brand" href="/">Rathaphibal Rath</a>
  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   						<span class="navbar-toggler-icon"></span>
  					</button>

  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
    				<ul class="navbar-nav mr-auto">
     	 				<li class="nav-item active">
        					<a class="nav-link" href="about">About<span class="sr-only">(current)</span></a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link" href="education">Education</a>
      					</li>
      					<li class="nav-item">
      						<a class="nav-link" href="projects">Projects</a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link" href="contact-me">Contact Me</a>
      					</li>
    				</ul>
  				</div>
			</nav>

		
		</br>
		
	
			<div class="row">
				<div class="col-md-12">
					<center><h5>Please use the form below to get in touch!</h5></center>
		</br>
						<div class="row">
							<div th:each="contacts:${form}">
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<p th:text="${form.name}"/>
										</div>
										<div class="panel-body">
											<p th:text="${form.email}"/>
											<p th:text="${form.message}"/>
										</div>	
									</div>
								</div>
							</div>
						</div>
		
				<!--th: Make connection btwn database tables and form  -->
			<div class="form">
				<form action="#" th:action="@{/contact-me}" th:object="${contacts}" method="post">
					<table>
						<tr>
							<td>Name:</td>
							<td><input type="text" th:field="*{name}" /></td>
						</tr>
						<tr>
							<td>Email:</td>
							<td><input type="text" th:field="*{email}" /></td>
						</tr>
						<tr>
							<td>Message:</td>
							<td><input type="text" th:field="*{message}" style="height:100px" /></td>
						</tr>
						<tr>
						</tr>
						<tr>
							<td><button class="buttons" type="submit"><a href="/result">Submit Your Contact Info</a></button></td>
						</tr>
					</table>
				</form> 
			</div>
		</br>
		
		
		<div class="fixed-bottom">
				<div class="row">
						<div class="col-md-12">	
							<div class="d-flex justify-content-sm-center">
								<a href="https://github.com/phibalrath">
									<img class="github" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github logo" style="width:5em;height:5em;">
								</a>
								<a href="https://www.linkedin.com/in/rathaphibal-rath/">
									<img class="linkedin" src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c528.png" alt="LinkedIn Icon" style="width:7em;height:9em;">
								</a>
							</div>		
						</div>
					</div>
				</div>
		
	</body>
</html>