<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
 		<title>My Personal Website</title> 
		
			<link href="css/index.css"  rel="stylesheet">
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		
	</head>
	<body>

					<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		  				<a class="navbar-brand" href="/">Rathaphibal Rath</a>
		  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		   						<span class="navbar-toggler-icon"></span>
		  					</button>
		
		  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    				<ul class="navbar-nav mr-auto">
		     	 				<li class="nav-item active">
		        					<a class="nav-link" href="about">About<span class="sr-only">(current)</span></a>
		      					</li>
		      					<li class="nav-item">
		        					<a class="nav-link" href="education">Education</a>
		      					</li>
		      					<li class="nav-item">
		      						<a class="nav-link" href="projects">Projects</a>
		      					</li>
		      					<li class="nav-item">
		        					<a class="nav-link" href="contact-me">Contact Me</a>
		      					</li>
		    				</ul>
		  				</div>
					</nav>
				</div>
				
				</br>
				
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<img src="https://www.techtalentsouth.com/hubfs/2D7A6990.jpg" alt="Tech Talent South" style="width:27em;height:22em;">
						</div>
						<div class="col-md-6>">
							<p style="font-weight:bold">Tech Talent South(TTS)</p>
							
							<p> Tech Talent South is a coding boot camp located all throughout the SouthEast</p>
							<p>of the US. Their mission is to foster talent in technology, especially coding. </p>
							<p> I took their 6 1//2 Weeks Code Immersion course covering full stack web</p>
							<p> development with an emphasis on Java.</p>
							<p>Learned:
								<ul>
									<li>Java</li>
									<li>HTML/CSS</li>
									<li>SQL</li>
									<li>Spring Boot</li>
								</ul>
							
						</div>
					</div>
				</div>
				
				</br>
				
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201212/china_660_120712071925.jpg" alt="Chinese University of Hong Kong" style="width:27em;height:22em;">
						</div>
						<div class="col-md-6>">
							<p style="font-weight:bold">Chinese University of Hong Kong(CUHK)</p>
							
							<p> I was able to study abroad at the Chinese University of Hong Kong for about </p>
							<p>2 years during college. There, I took Chinese culture, language, and business </p>
							<p>courses.</p>
								<ul>
									<li>Business Law</li>
									<li>International Monetary System</li>
									<li>Putonghua(Madarin) Language
									<li>Asian Business</li>
									<li>Operations Management</li>
								</ul>
							
						</div>
					</div>
				</div>
				
				</br>
				
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<img src="https://sc.edu/study/colleges_schools/moore/images/callout_images/map_brochure.jpg" alt="University of South Carolina" style="width:27em;height:22em;">
						</div>
						<div class="col-md-6>">
							<p style="font-weight:bold">University of South Carolina(U of SC)</p>
							<p> I attended the University of Carolina from August 2015 - May 2019.</p>
							<p> I was part of the International Business and Chinese Enterprise(IBCE)</p>
							<p> cohort</p>
							
						</div>
					</div>
				</div>
				
				</br>
				
				
				<div class="row">
						<div class="col-md-12">	
							<div class="d-flex justify-content-sm-center">
								<a href="https://github.com/phibalrath">
									<img class="github" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github logo" style="width:5em;height:5em;">
								</a>
								<a href="https://www.linkedin.com/in/rathaphibal-rath/">
									<img class="linkedin" src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c528.png" alt="LinkedIn Icon" style="width:7em;height:9em;">
								</a>
							</div>		
						</div>
					</div>
		
				
				
				<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		 		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>