<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
 		<title>My Personal Website</title> 
			<link href="css/index.css" rel="stylesheet">
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		
	</head>
	<body>
		
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  				<a class="navbar-brand" href="/">Rathaphibal Rath</a>
  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   						<span class="navbar-toggler-icon"></span>
  					</button>

  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
    				<ul class="navbar-nav mr-auto">
     	 				<li class="nav-item active">
        					<a class="nav-link" href="about">About<span class="sr-only">(current)</span></a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link" href="education">Education</a>
      					</li>
      					<li class="nav-item">
      						<a class="nav-link" href="projects">Projects</a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link" href="contact-me">Contact Me</a>
      					</li>
    				</ul>
  				</div>
			</nav>
		</div>
		
		</br>
		
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img class="phibal" src="https://lh3.googleusercontent.com/Hul6WMJHo2vS3LS3B5wRrOD8q51--xC5-1pANtmoIcLc6glCitLo-BfElS6fBsBOGU_aSaCAa5cJq3cfysjZDGoXBYoctKIlQEDfVdGW20AfV4aDBBX47duO12olFXjnTp2IVD3EBIoN5J22zk_spcvFf1oAq81WvFnavjtAivYX_YwRuQWExxqlzbbOTiJPD2PPEu1LHC7ZFmrK_HoCxZQIwhM1WmWEegIPLufJsx6G8-bxw_oFAZ_FrxWv7mkAXKtCgxk_IfpBQmB-lr9-pG60YvK1Z5lVvMDjK_Oe2SsHYe6aJDLUvO1_SsNrogNFBfqhMJvs24xI2pSIPq6N1j11f0QiFx-gMWHxtTeC3nLbE_wRdSt48Nr5pV2pJFfrqf0OK16dlKEsTuaqNYVOIoiAEBe-yQPXS01v_U6FoPSTwf87E1qF_va4t0nvpsCbGqxwV1GdLlVf1JapERKqW9HMgQwyp8Fc1d0cSOc7Caiz1siBglwU6S3XvK935qk1nIZng_iCjru6hT0Ec2BCsI0Y1s3HJ-H7lY-kr_OHmMl3lfxx7WjiTLevidT9AZWc1ht6ToS3zYfpSNataQph5J6dQnsqMm6fgTmDOVr5_FwTomgSKaDrwTP_kt7K7fHbmBepPa8AOEV-1TCtUI1KlCtbZiO80trn=w742-h988-no" alt="Phibal" style="width:27em;height:35em;">
				</div>
				<div class="col-md-6">
					
					<p> Hi! My full is Rathaphibal Rath but I just go by Phibal Rath.
					 I just graduated from the University of South Carolina - Columbia in the Spring of 2019 with a Bachelor of Science in Business Administration.
					There, I attended the Darla Moore School of Business and double majored in International Business and Supply Chain Management.</p>
					<p> After working in my school's IT Department, I gained an interest towards coding in general and decided to pursue this interest through a coding Boot Camp at Tech Talent South(TTS).
					
					I currently live in Charlotte, NC and am looking for Developer positions that can take what I've learned in the bootcamp and apply it to the work environment!</p>
					<p> Here is a link to my Resume: 
						<a href="">My Resume</a> 
					</p>
					
					<p>Please feel free to contact me at: phiblar@gmail.com </p>
									<p>	OR </p>
					<p> Fill in your info and I'll get back to you ASAP</p>
					<button type="submit"><a href="/contact-me">Contact Form</a></button>
					
				</div>
			</div>
		</div>
		
		</br>
		
		
		<div class="footer navbar-fixed-bottom">
				<div class="row">
						<div class="col-md-12">	
							<div class="d-flex justify-content-sm-center">
								<a href="https://github.com/phibalrath">
									<img class="github" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github logo" style="width:5em;height:5em;">
								</a>
								<a href="https://www.linkedin.com/in/rathaphibal-rath/">
									<img class="linkedin" src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c528.png" alt="LinkedIn Icon" style="width:7em;height:9em;">
								</a>
							</div>		
						</div>
					</div>
				</div>
			</div>	
		</div>
		
		
		
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>

 
 